<%- include('includes/head.ejs'); %>
<%- include('includes/header.ejs'); %>
<main>
    <section class="detailPage">

        <img src="uploads/<%=data.image %>" alt="<%=data.title%>" width="600">
        <div>
            <h2><%= data.title%></h2>
            <div class="wrap">
                <a href="/edit/<%= data._id%>"> edit</a>
                <h3>Made by: <%= data.photographer%></h3>

            </div>
            <p>Photograph location: <%= data.location%></p>
            <p>Description: <%= data.description%></p>

            <form action="/<%=data._id%>" method="post">
                <!-- <fieldset> -->
                <!-- <legend>Add photograph to your series</legend> -->
                <% if (data.series) { %>
                <input type="checkbox" id="addPhotoBox" name="addPhotoBox" value="addPhotoBox" checked>
                <% } else {%>
                <input type="checkbox" id="addPhotoBox" name="addPhotoBox" value="addPhotoBox">
                <% } %>
                <label for="addPhotoBox">Click here to add this photo to your series</label>


                <input type="submit" value="Add your photo" id="addPhoto">
                <label for="addPhoto" id="seriePhotoSubmitLabel"><span>Add photo to series</span></label>
                <!-- </fieldset> -->
            </form>
        </div>
    </section>
</main>

<%- include('includes/footer.ejs'); %>