<%- include('includes/head.ejs'); %>
<%- include('includes/header.ejs'); %>
<main>
    <h1>hello world!</h1>
    <div>
        <% for (let i = 0; i < data.length; i++) { %>
        <div>
            <a href="/<%=data[i]._id%>">
                <img src="uploads/<%=data[i].image%>" alt="<%=data[i].title%>" width="300">
                <p><%= data[i].photographer %></p>
            </a>
        </div>
        <% } %>
    </div>
</main>

<%- include('includes/footer.ejs'); %>