<%- include('includes/head.ejs'); %>
<%- include('includes/header.ejs'); %>
<main>
    <section>
        <% for (let i = 0; i < data.length; i++) { %>
        <article id="<%=data[i]._id%>">
            <a href="/<%=data[i]._id%>">
                <figure>
                    <img src="uploads/<%=data[i].image%>" alt="<%=data[i].title%>" width="300">
                    <figcaption><%= data[i].title %></figcaption>
                </figure>
            </a>
            <form action="/series" method="post">
                <input type="radio" id="male" name="move" value="<%=data[i]._id%>">
                <label for="up">Up</label>
                <input type="radio" id="female" name="move" value="<%=data[i]._id%>">
                <label for="down">Down</label>

                <input type="submit" value="Move item" id="moveItem">
                <label for="moveItem"><span class="">move Item</span></label>
            </form>
        </article>
        <% } %>
    </section>
</main>

<%- include('includes/footer.ejs'); %>